.mona-web-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  padding: 0 20px;
}


.mona-web-navbar-left {
  flex: 0 0 15%;
}

.mona-web-navbar-back {
  width: 16px;
}

.mona-web-navbar-title {
  text-align: center;
  flex: 0 0 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mona-webnavbar-right {
  flex: 0 0 15%;
}
