.monaPickerModal {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}


.pickerWrapper {
  font-size: 36px;
  background-color: white;

  &Header {
    padding: 0 30px;
    height: 2.3em;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #34c1f5;
    font-weight: normal;
    border: 1px solid #e5e6eb;

    &Cancel {
      font-size: 1em;
    }
    &Cofirm {
      font-size: 1em;
    }
  }
}
